@tailwind base;
@tailwind components;
@tailwind utilities;

.loading {
  height: 100px;
  width: 100px;
  border: 6px solid #ccc;
  border-radius: 100%;
  animation: rotate 0.5s linear infinite;
  margin-top: 100px;
  border-top-color: rgb(13, 233, 57);
  border-bottom-color: rgb(127, 255, 153);
  margin-left: auto;
  margin-right: auto;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Pseudo Elements handling outside the JSX */
.heading-text::after {
  content: "";
  position: absolute;
  width: 112px;
  background-color: #10b981;
  height: 4px;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.tours-list {
  display: grid;
  justify-content: center;
  gap: 3rem;

  @media (min-width: 640px) {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}
